<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.CustomerMapper">
    <select id="findCustomerByNameAndJobs" resultType="Customer" parameterType="Customer">
        select * from t_customer where 1=1
        <if test="username != null and username !=''">
            and username like concat('%',#{username},'%')
        </if>
        <if test="jobs != null and jobs !=''">
            and jobs = #{jobs}
        </if>
    </select>
    <select id="findCustomerByNameOrJobs" resultType="Customer" parameterType="Customer">
        select * from t_customer where 1=1
        <choose>
            <when test="username != null and username !=''">
                and username like concat('%',#{username},'%')
            </when>
            <when test="jobs !=null and jobs !=''">
                and jobs =#{jobs}
            </when>
            <otherwise>
                and phone is not null
            </otherwise>
        </choose>

    </select>
</mapper>