<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.OrdersMapper">
    <select id="findOrdersWithProduct" parameterType="Integer" resultMap="OrderWithProductResult">
        select *
        from tb_orders
        where id = #{id}
    </select>
    <resultMap id="OrderWithProductResult" type="Orders">
        <id property="id" column="id"/>
        <result property="number" column="number"/>
        <collection property="productList" column="id" ofType="Product"
                    select="mapper.ProductMapper.findProductById"/>
    </resultMap>


    <select id="findOrdersWithProduct2" parameterType="Integer" resultMap="OrderWithProductResult2">
        select o.*,p.id as pid,p.NAME,p.price
        from tb_orders o,tb_product p,tb_ordersitem oit
        where o.id = #{id}
        and o.id=oit.orders_id
        and p.id=oit.product_id
    </select>

    <resultMap id="OrderWithProductResult2" type="Orders">
        <id property="id" column="id"/>
        <result property="number" column="number"/>
        <collection property="productList"  ofType="Product">
            <id property="id" column="pid"/>
            <result property="name" column="name"/>
            <result property="price" column="price"/>
        </collection>
    </resultMap>
</mapper>